<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="author"content="walter">
		<title>Tareas</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet"href="/css/main.css">
	</head>
	<body>
		<nav class="navbar navbar-dark bg-dark">
			<span class="navbar-brand mb-0 h1 mx-auto">Tareas</span>
		</nav>
		<br>
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="card">
						<div class="card-body">
							<form action="/add" method="POST">
								<div class="form-group">
									<span id="errorA"></span>
									<input class="form-control" type="text" name="title" placeholder="Titulo"id="titulo">
								</div>
								<div class="form-group">
									<span id="errorB"></span>
              								<textarea class="form-control" name="description"cols="80"placeholder="Descripcion"id="descripcion"></textarea>
								</div>
								<button class="btn btn-primary btn-block"type="submit"id="agregar">Agregar</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>N°</th>
								<th>Titulo</th>
								<th>Descripcion</th>
								<th>Operacion</th>
							</tr>
						</thead>
						<tbody>
							<% for(var i=0; i < tasks.length; i++) { %>
							<tr>
								<td><%= i + 1%></td>
								<td><strong><%= tasks[i].title %></strong></td>
								<td><%= tasks[i].description %></td>
								<td>
									<a class="btn <%= tasks[i].status ? 'btn-success':'btn-dark' %>"href="/echo/<%= tasks[i]._id %>">Echo</a>
									<a class="btn btn-danger"href="/delete/<%= tasks[i]._id %>">Eliminar</a>
									<a class="btn btn-info"href="/edit/<%= tasks[i]._id %>">Editar</a>
								</td>
							</tr>
							<% } %>
</tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<script src="/js/index.js"></script>
	</body>
</html>
